<html>
<head>
<title>Rapungel</title>
<link href="{{ url_for('static', filename='vendors/bootstrap-4/css/bootstrap.min.css') }}" rel="stylesheet" />
<link type="text/javascript" href="{{ url_for('static', filename='js/custom.js') }}"  />

<script   src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
<script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript">
$(document).ready(function(){
  setInterval(function() {
    $('#eye').effect('bounce', "slow")
}, 2000);
setInterval(function() {
  $('#school').effect('bounce', "slow")
}, 5000);
setInterval(function() {
  $('#wine').effect('bounce', "slow")
}, 5000);
setInterval(function() {
  $('#tablet').effect('bounce', "slow")
}, 6000);
setInterval(function() {
  $('#friend1').effect('bounce', "slow")
}, 6000);
setInterval(function() {
  $('#document').effect('bounce', "slow")
}, 7000);
setInterval(function() {
  $('#allfriends').effect('bounce', "slow")
}, 8000);
});

</script>

<body id="body1">

  <a href="{{url_for('problems')}}"><img id="menu" class="menu " src="/static/images/menu.png" alt="menu"> </img></a>

    <img id="eye" class="eye " src="/static/images/eye_lashes.png" alt="eye">
      <div id="popup" class='popup'>
      <div>
        <p>One of my classmates approached me. "How is it going, dyke?" he said. I chose to ignore him, knowing it would only irritate him, not really caring at the moment.</p>
        <p>"I'm talking to you, chick!" he glared fiercely at me. He suddenly started smacking me, tangling up and yanking on my long hair. I held back the tears and bit my tongue imploring I would get to school sooner rather than later. Everyone around me is out to get me, trying to hurt me, whishing I was dead. Is that the only truth?</p>
      </div>
    </div>
    </img>

    <img id="rap" class="rap" src="/static/images/rap.png" alt="rapungel">
      <!-- <div class='popup1'>
      <div>Hellouuu guys !</div>
    </div> -->
    </img>

    <img id="sign1" class="sign1" src="/static/images/sign1.png" alt="sign one way"></img>


    <img id="school" class="school" src="/static/images/school.png" alt="sign stop">
      <div class='popup2'>
      <div>
        <p> "Don't you think her clothes are ugly?" I overhead from Angela, the most popular girls of the school. I know that they constantly criticise how weird my long hair is or how stupid my smart-ass questions are. Miss. Blanchard gave me a small smile. "Hi, love. I've noticed you were a bit lost in thoughts during the class. Are you feeling alright? Would you like to talk with me about anything that upsets you… home or maybe the kids in class?" she said. I smiled sheepishly. "No, everything is fine" I responded. "You know you can tell me anything that disturbs you, right?" she stated.</p>
      </div>
    </div>
    </img>

    <img id="friend1" class="friend1" src="/static/images/friend1.png" alt="teacher">
      <div class='popup3'>
      <div>
        <p>I took the knife from my backpack. But as I was raising the knife towards my throat, I started shivering. Little by little the movement was slowing down until a strange feeling didn't permit my body to carry on. I dropped the knife as if it were acid, fell to my knees and burst into tears.</p>
        <p>"Don't cry, my love, don't cry. I'm here. Everything will be alright" Miss Margaret Blanchard whispered in my ear while stroking my head.</p>
        <p>"I knew something wasn't right. Maybe I'm not the most appropriate person to help you overcome your depression, but I know who can help you better" she said. Then she took her mobile phone and began to dial a number. I grasped her phone with an overwhelming determination and decided to open up to the help centre. I was willing to seek help.</p>
      </div>
    </div>
    </img>

    <img id="sign2" class="sign2" src="/static/images/sign2.png" alt="sign stop"></img>

    <img id="tablet" class="tablet" src="/static/images/tablets.png" alt="tablets">
      <div class='popup4'>
      <div>
        <p>We will end up dying someday. Why not making the outcome come ahead of time? Would I matter to anyone once I'm no longer in this world? Why not committing the suicide at school? Then they will realise their mistake and the damage they caused. No other student will suffer from what I went through.</p>
        <p>
        My friends thought that I had an affair with my best friend's boyfriend. After that incident, they all put me aside. That rumour destroyed savagely any owned friendship as fire that consumes life.
        </p>
      </div>
    </div>
    </img>

    <img id="wine" class="wine" src="/static/images/wine_all.png" alt="alchohol">
      <div class='popup5'>
      <div>
        <p>Just as I was getting to the stairs an arm reached out and yanked me back. I was thrown into the wall and my mom glared me with pure hatred in her eyes. "I thought I told you not to slam loudly the door!" she screamed with pure rage.</p>
        <p>"You snatched my dreams with your pregnancy so many years ago and now you want to take them away again?" she asked with a scorn that not even a bastard child deserve. "You must be insane if you think I'm going to help you get along with your peers. I work so that you can take something to your mouth and have a roof over your head. I do not have time for your stupidities, did you hear me?!" She slapped me, causing me to slam to the floor.</p>
        <p>I went to my room, sat in the bed and leaned back against the wall. I sang along quietly, almost whispering, as I sat there with my eyes closed.</p>
      </div>
    </div>
    </img>

    <img id="document" class="document" src="/static/images/document.png" alt="secret document">
      <div class='popup6'>
      <div>
        <p>"We want you to find a family, a home where you feel at ease, so if you feel unhappy about anything, come to this office and we'll chat for as long as it takes" Dr Hopper commented. "I have wonderful news to tell you, Rapunzel" she announced. "With the permission and legal agreement of your mother, we have transferred you to another institution where you will start studying next term!" the therapist stated vigorously. I was stunned. Will I really have the opportunity to start over? Will I be able to make new friends there? I immediately jumped out of the chair to hug Sophie and give her my most heartfelt gratitude.</p>
        <p>I may be changing schools but I will never forget Margaret Blanchard. She will always hold a special place in my heart. She will always be my hero, my angel, my saviour.</p>
      </div>
    </div>
    </img>

    <img id="allfriends" class="allfriends" src="/static/images/girls.png" alt="Rapungels friends">
      <div class='popup7'>
      <div>
        <p>A few weeks later…</p>
        <p>I swung myself out of the bus, glancing around me. "I am so nervous, today is the first day in my new school" I thought.</p>
        <p>As the teacher finished introducing me, I heard a voice coming from the back of the room. "She can sit on the desk next to mine" a teen boy shouted.</p>
        <p>I shook my head and looked down at the ground, hiding my growing blush.  What's up with me? I never blush! "I know you don't really know me and you are obviously still settling in our school, but would you like to… hang out sometime…after school… or whatever… you know" he said while looking at me. "Are you asking me to be your friend?" I asked incredulously with eyes wide open. He nodded his head and I held my notebook against my chest, head down due to emotion. Slowly, I nodded my head and his face broke out into a smile that took my breath away.</p>
        <p>I did it. I made a friend. Who knows? Perhaps life has a meaning after all.</p>
      </div>
    </div>
    </img>

    <img id="fb" class="fb" src="/static/images/fb.png" alt=""></img>
    <img id="inst" class="inst" src="/static/images/inst.png" alt=""></img>

</body>
</html>
